.ContainterSearchTodo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.TodoSearch {
  width: calc(100% - 100px);
  border-top: none;
  border-left: none;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  padding: 0.5rem;
  background: linear-gradient(to left, #851145, #cb4782);
  font-weight: bold;
  padding-left: 30px;
  box-sizing: border-box;
  margin-left: 10px;
}

.TodoSearch::placeholder {
  color: #851145;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.TodoSearch:focus {
  outline: 2px solid rgb(214, 209, 209);
}
